<div class="h-screen w-screen flex bg-gray-200">

    <aside
        class="flex flex-col items-center bg-white text-gray-700 dark:bg-gray-800 dark:text-gray-200 shadow-sm h-full">

        <div class="h-24 flex items-center w-full">
            <!-- Logo Section -->
            <a class="h-16 w-16 mx-auto" href=".">
                <img class="h-16 w-16 mx-auto" src="https://avatars.githubusercontent.com/u/73908569?s=200&v=4"
                    alt="findo logo" />
            </a>
        </div>

        <ul>
            <li>
                <a routerLink="/map" class="item-a">
                    <div class="item-div">
                        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height="32" width="32">
                            <title>Carte</title>
                            <path
                                d='M313.27 124.64L198.73 51.36a32 32 0 00-29.28.35L56.51 127.49A16 16 0 0048 141.63v295.8a16 16 0 0023.49 14.14l97.82-63.79a32 32 0 0129.5-.24l111.86 73a32 32 0 0029.27-.11l115.43-75.94a16 16 0 008.63-14.2V74.57a16 16 0 00-23.49-14.14l-98 63.86a32 32 0 01-29.24.35zM328 128v336M184 48v336'
                                fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'
                                stroke-width='32' />
                        </svg>
                    </div>
                </a>
            </li>

            <li>
                <a href="." class="item-a">
                    <div class="transition duration-150 hover:bg-primary-300 hover:text-primary-50 rounded-sm p-2 test">
                        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' height="32" width="32">
                            <title>Rechercher</title>
                            <path d='M221.09 64a157.09 157.09 0 10157.09 157.09A157.1 157.1 0 00221.09 64z' fill='none'
                                stroke='currentColor' stroke-miterlimit='10' stroke-width='32' />
                            <path fill='none' stroke='currentColor' stroke-linecap='round' stroke-miterlimit='10'
                                stroke-width='32' d='M338.29 338.29L448 448' />
                        </svg>
                    </div>
                </a>
            </li>

        </ul>

        <div class="mt-auto h-16 flex items-center w-full">
            <button class="h-16 mx-auto flex justify-center items-center
				w-full  ">
                <div class="transition duration-150 hover:text-secondary-600 rounded-full p-2">
                    <svg xmlns='http://www.w3.org/2000/svg'
                        class='h-7 w-7 transform hover:scale-110 hover:-rotate-3 transition-transform duration-100'
                        viewBox='0 0 512 512'>
                        <title>Log Out</title>
                        <path
                            d='M304 336v40a40 40 0 01-40 40H104a40 40 0 01-40-40V136a40 40 0 0140-40h152c22.09 0 48 17.91 48 40v40M368 336l80-80-80-80M176 256h256'
                            fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round'
                            stroke-width='32' />
                    </svg>
                </div>
            </button>
        </div>

    </aside>

    <ng-content></ng-content>
</div>